@font-face {
  font-display: swap;
  font-family: "Voces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/voces-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/voces-v20-latin-regular.woff") format("woff");
}

body {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  font-family: "Voces", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  overflow: hidden;
  position: relative;
  background-color: #000;
  color: #fff;
}

.top a {
  color: #fff;
}

.icon {
  background-color: #000;
  border: none;
  float: right;
}

#nav {
  display: none;
  margin-top: 5em;
}

.nav {
  display: flex;
  flex-direction: column;
}

.top a.icon {
  margin-top: 1em;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}

.nav-link {
  margin-bottom: 1em;
}

.nav-link a {
  color: #fff;
}

#about {
  text-align: left;
  height: 67vh;
}

.text {
  margin: 50% 5%;
  text-align: center;
}

.about-text {
  line-height: 1.6;
}

.profile-picture {
  display: none;
}

#experience {
  padding: 7% 0;
  background-color: #000;
  color: #fff;
}

.experience {
  margin: 3em 1.5em;
  text-align: left;
}

#experience-heading {
  margin: 0;
}

.experience p {
  margin: 0.5em;
}

#skills {
  margin: 5%;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.footer {
  padding: 2em;
}

.copyright {
  margin-bottom: 5%;
}

.social-links {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1.5rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10% 0;
  }

  .home {
    margin-left: 1.5em;
  }

  .icon {
    display: none;
  }

  .top {
    display: none;
  }

  #nav {
    display: block;
    width: 100%;
    margin: 0 25%;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-link {
    margin-bottom: 0;
  }

  #about {
    height: 55vh;
  }

  #experience {
    height: 100%;
    padding: 1% 0;
  }

  .experience-description-left {
    text-align: left;
    flex-direction: row-reverse;
    order: -1;
  }
}

.disabled {
  cursor: not-allowed;
  text-decoration: line-through;
  background-color: #808080;
}

@media screen and (min-width: 1366px) {
  body {
    font-size: 1.7rem;
  }

  #about {
    height: 47vh;
  }

  .profile-picture {
    display: block;
  }

  .text {
    margin: 20% 0;
  }

  .experience-container {
    margin-top: 5%;
    grid-template-columns: repeat(3, 1fr);
  }
}
