@font-face {
  font-display: swap;
  font-family: "Voces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/voces-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/voces-v20-latin-regular.woff") format("woff");
}

body {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  font-family: "Voces", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  overflow: hidden;
  position: relative;
  background-color: #000;
  color: #fff;
}

.top {
  display: flex;
  justify-content: space-around;
}

.top a {
  color: #fff;
}

#nav {
  display: none;
  grid-column: 1 / 3;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.top a.icon {
  margin-top: 1.2em;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}

.nav-link {
  margin-bottom: 1em;
}

.nav-link a {
  color: #fff;
}

#about {
  text-align: left;
  padding: 0 1em;
  margin-bottom: 27%;
}

.about-text {
  line-height: 1.6;
}

.cyf {
  color: #00e;
  text-decoration: underline;
}

.profile-picture {
  display: none;
}

#projects {
  padding: 5% 0;
  background-color: #000;
  color: #fff;
}

.project {
  margin-bottom: 2em;
}

.project-image {
  width: 100%;
  margin-bottom: 1em;
}

.project-links {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.project-link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 0.5em 2em;
  color: #fff;
  background-color: rgb(64, 64, 255);
  border-radius: 2.5%;
}

#skills {
  margin-bottom: 5%;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.footer {
  padding: 2em;
}

.copyright {
  margin-bottom: 5%;
}

.social-links {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1.5rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10% 0;
  }

  .home {
    margin-left: 1.5em;
  }

  .icon {
    display: none;
  }
  #nav {
    display: block;
    width: 50vw;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.7em;
  }
  .nav-link {
    margin-bottom: 0;
  }

  #about {
    margin-bottom: 20%;
  }

  #projects {
    height: 100%;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin: 0 2em;
  }
}

@media screen and (min-width: 1366px) {
  body {
    font-size: 1.7rem;
  }

  #about {
    display: flex;
  }

  .text {
    width: 70%;
    margin-right: 2em;
  }

  .profile-picture {
    display: block;
  }

  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
